<mat-toolbar color="primary">
	<span class="title" routerLink="/list">
		<img src="assets/parrots.png" alt="cinguetto" class="logo" />
	</span>

	<span class="spacer"></span>

	<span *ngIf="authService.user()">
		Bentornato, {{ authService.user()?.displayName || authService.user()?.email }}!
	</span>

	<span class="spacer"></span>


	<ng-container *ngIf="isLoggedIn; else loggedOut">
		<button mat-icon-button (click)="logout()" aria-label="Logout">
			<mat-icon>logout</mat-icon>
		</button>
	</ng-container>

	<ng-template #loggedOut>
		<button mat-button *ngIf="!isLoginPage" routerLink="/login">Login</button>
		<button mat-button *ngIf="!isRegistrationPage" routerLink="/registration">Registrati</button>
	</ng-template>
</mat-toolbar>