mat-toolbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;
}

.logo {
	height: 40px; // altezza ideale per toolbar Material
	width: auto;
	margin-left: 0.5rem;
	object-fit: contain;
}

.title {
	font-weight: bold;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.spacer {
	flex: 1 1 auto;
}
