<img src="assets/parrot.png" alt="Logo Chirrup" class="logo" />

<div class="form-container">
    <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input [(ngModel)]="email" matInput />
    </mat-form-field>

    <mat-form-field>
        <mat-label>Password</mat-label>
        <input [(ngModel)]="password" matInput type="password" />
    </mat-form-field>

    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
    </div>

    <button mat-raised-button color="primary" (click)="login()">Login</button>
    <button mat-raised-button color="warn" (click)="register()">Register</button>
</div>