<div class="navbar">
    <h1>Chirrup</h1>
    <p *ngIf="authService.user()">
        Bentornato, {{ authService.user()?.displayName || authService.user()?.email }}!
    </p>
    <p *ngIf="!authService.user()">
        Per favore, accedi per continuare.
    </p>
</div>
<div class="add-chirrup">
    <mat-form-field>
        <mat-label>Chirp chirp</mat-label>
        <textarea matInput [(ngModel)]="chirrup"></textarea> 
        <!-- ngModel chiama chirrup per visualizzare il testo bananainthebox è input/output -->
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addChirrup()">Post</button>
</div>