.custom-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding: 0 1rem;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;
    z-index: 1000;

    &.visible {
        transform: translateY(0);
    }

    .menu-btn {
        background: transparent;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        margin-right: 1rem;
    }

    .welcome-text {
        margin-left: auto;
        font-weight: 500;
        opacity: 1;
        transition: opacity 1.5s ease;

        &.fade-out {
            opacity: 0;
            pointer-events: none;
        }
    }

}

.custom-sidenav {
    position: fixed;
    left: -290px;
    width: 250px;
    height: 100%;
    background: #ffffff;
    padding: 1rem;
    transition: left 0.3s ease-out;
    z-index: 999;

    &.open {
        left: 0;
    }

    .user-profile {
        text-align: center;

        .avatar {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-bottom: 1rem;
        }

        button {
            display: block;
            margin: 0.5rem auto;
        }
    }
}

.sidenav-backdrop {
    position: fixed;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 998;
}

.hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 50%;
    background-color: #007c85;
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
        background-color: #0098a4;
        transform: translateY(-2px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

    mat-icon {
        font-size: 20px;
        color: inherit;
    }
}


.edit-button {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    font-weight: 500;
    color: #3f3f3f;
    text-transform: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem auto;
    transition: background 0.2s ease;

    &:hover {
        background: rgba(0, 0, 0, 0.04); // effetto al passaggio
    }
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #292929;
}