:host {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: var(--color-accent);
	font-family: 'Segoe UI', Roboto, sans-serif;
	color: var(--color-text-light);
}

.form-container {
	background-color: #292929;
	padding: 2rem;
	border-radius: 16px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
	width: 100%;
	max-width: 400px;
	text-align: center;
}

mat-form-field {
	width: 100%;
	margin-bottom: 1rem;

	input {
		color: var(--color-text-light);
	}
}

button {
	margin: 0.5rem 0.5rem 0 0.5rem;
	min-width: 120px;
	text-transform: none;
}

.error-message {
	color: var(--color-warn);
	font-weight: 500;
	margin-top: 1rem;
}

