/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --color-primary: #007c85;     // verde acqua scuro
  --color-accent: #ffa600;      // arancio brillante
  --color-bg-dark: #1f1f1f;     // sfondo scuro
  --color-text-light: #f5f5f5;  // testo chiaro
  --color-warn: #e53935;        // rosso di errore
}
